@model RestaurantToCreationViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="d-flex justify-content-center mt-3 mb-4">
	<div class="text-center">
		<span class="badge py-2 px-3 bg-light-subtle">
			<span class="fs-3 text-warning">Create Restaurant</span>
		</span>
	</div>
</div>

<hr />
<div class="row justify-content-center">
	<div class="col-md-6">
		<form asp-action="Create" enctype="multipart/form-data" class="bg-dark p-4 rounded shadow">
			<div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

			<div class="form-group mb-3">
				<label asp-for="Name" class="control-label" style="color: black !important"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>

			<div class="form-group mb-4">
				<label asp-for="Image" class="control-label" style="color: black !important"></label>
				<input class="form-control" asp-for="Image" />
				<span asp-validation-for="Image" class="text-danger"></span>
			</div>

			<div class="d-flex justify-content-center gap-3">
				<input type="submit" value="Create" class="btn btn-primary" />
				<a asp-action="Index" class="btn text-dark" style="background-color: #ffe066;">Back to List</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
