@model RestaurantToReturnDto

<div class="mt-3 d-flex justify-content-center gap-2">
	<a href="@Url.Action("Edit", "Restaurant", new { id = Model.Id })" class="btn btn-primary btn-sm text-white">Edit</a>
	<a href="@Url.Action("Delete", "Restaurant", new { id = Model.Id })" class="btn btn-danger btn-sm text-white">Delete</a>
</div>