
@{
    ViewData["Title"] = "ForgotPassword";
    ViewData["HideFooterAndFooter"] = true;

    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@* <div style="height:200px"></div>
 *@@* 
<h2>Forgot Password</h2>

<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label>Email</label>
        <input name="email" class="form-control" required />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Send Reset Link</button>
</form> *@

<div class="container forget-password">
    <div class="row">
        <div class="col-md-12 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <img src="https://i.ibb.co/rshckyB/car-key.png" alt="car-key" border="0">
                        <h2 class="text-center">Forgot Password?</h2>
                        <p>You can reset your password here.</p>
                        <form id="register-form" role="form" autocomplete="off" class="form" asp-action="ForgotPassword" method="post">
                            <div class="form-group">
                                <div class="input-group">
                                    @* <label>Email</label> *@
                                    @* <input name="email" class="form-control" required /> *@
                                    <input id="forgetAnswer" name="email" placeholder="Email" class="form-control bg-100" type="text" required>
                                </div>
                            </div>

                            <div class="form-group m-3">
                                @* <button type="submit" class="btn btn-primary">Send Reset Link</button> *@
                                <input name="btnForget" class="btn btn-lg btn-primary btn-block btnForget " value="Reset Password" type="submit">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
