
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
    ViewData["HideFooterAndFooter"] = true;

}
<div style="height:200px"></div>

<h2>Password Reset Email Sent</h2>
<p>If an account with the provided email exists, a password reset link has been sent.</p>

