
@{
    ViewData["Title"] = "AccessDenied";
    ViewData["HideFooterAndFooter"] = true;

}
<div style="height:200px"></div>

<h1>Access Denied</h1>
<p>You do not have permission to access this resource.</p>