@model Shared.CustomerCartDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>CartItemDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Items[0].Id" class="control-label"></label>
                <input asp-for="Items[0].Id" class="form-control" />
                <span asp-validation-for="Items[0].Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Items[0].ProductName" class="control-label"></label>
                <input asp-for="Items[0].ProductName" class="form-control" />
                <span asp-validation-for="Items[0].ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Items[0].ImageUrl" class="control-label"></label>
                <input asp-for="Items[0].ImageUrl" class="form-control" />
                <span asp-validation-for="Items[0].ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Items[0].Price" class="control-label"></label>
                <input asp-for="Items[0].Price" class="form-control" />
                <span asp-validation-for="Items[0].Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Items[0].Quantity" class="control-label"></label>
                <input asp-for="Items[0].Quantity" class="form-control" />
                <span asp-validation-for="Items[0].Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Items[0].Category" class="control-label"></label>
                <input asp-for="Items[0].Category" class="form-control" />
                <span asp-validation-for="Items[0].Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Items[0].Restaurant" class="control-label"></label>
                <input asp-for="Items[0].Restaurant" class="form-control" />
                <span asp-validation-for="Items[0].Restaurant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
