@model IReadOnlyList<OrderItemToReturnDto>

<style>

    .food-list {
        display: grid;
        row-gap: 33px;
        padding: 0;
        margin: 54px 0 0 0;
        font-size: 10px;
        font-weight: bold;
        list-style-type: none;
    }

    .food-list__item {
        display: grid;
        align-items: center;
    }

        .food-list__item:not(:last-child) {
            grid-template-columns: 78px 20px 106px 1fr;
        }

        .food-list__item:last-child {
            grid-template-columns: 78px 20px 1fr;
        }

       

        .food-list__item .food-price {
            color: var(--secondary-color-darker);
            justify-self: flex-end;
        }

</style>


<div class="card  shadow-sm shadow-warning">
    <div class="card-body d-md-flex justify-content-between align-items-center">


        <ul class="food-list">
           @foreach (var item in Model)
            {
                <li class="food-list__item d-flex justify-content-between align-items-center fs-2">
                    <img class="food-image w-25 img-fluid " src="@item.ProductImage"  />
                    <div class="food-buy-amount">@item.Quantity x</div>
                    <div class="food-name">@item.ProductName</div>
                    <div class="food-price">$@item.Price</div>
                </li>
            }
        </ul>
       
    </div>
</div>