@model RestaurantToUpdateViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="d-flex justify-content-center mt-3 mb-4">
	<div class="text-center">
		<span class="badge py-2 px-3 bg-light-subtle">
			<span class="fs-3 text-warning">Edit @Model.Name</span>
		</span>
	</div>
</div>

<div class="d-flex justify-content-center mt-5">
	<div class="col-md-6">
		<form asp-action="Edit" enctype="multipart/form-data" class="bg-dark text-black p-4 rounded shadow">
			<div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

			<input asp-for="Id" class="form-control" hidden />
			<input asp-for="ImageUrl" class="form-control" hidden />
			<input asp-for="PublicImageId" class="form-control" hidden />

			<div class="form-group mb-3">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>

			<div class="form-group mb-4">
				<label asp-for="Image"></label>
				<input class="form-control" asp-for="Image" />
				<span asp-validation-for="Image" class="text-danger"></span>
			</div>

			<div class="d-flex justify-content-center gap-3">
				<input type="submit" value="Save" class="btn btn-primary btn-sm px-4" />
				<a asp-action="Index" class="btn btn-warning btn-sm text-dark px-4" style="background-color: #ffc107;">Back to List</a>
			</div>
		</form>
	</div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
