<div class="alert alert-success alert-dismissible fade show d-flex justify-content-center align-items-center  mt-4 p-5 " role="alert">
    <i class="bi bi-check-circle-fill me-2 fs-5"></i>
    <div>
        <strong>Success!</strong> Your order has been created successfully.
    </div>
    <a asp-controller="Home" asp-action="Index" class="btn-close ms-auto" ></a>
</div>
