
@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between">
	<h1 class="cart-title">Your Shopping Cart</h1>
	<div id="totalPrice">Total price = @ViewBag.TotalPrice</div>
</div>

































                                                                    